@import "tailwindcss";

/* globals.css */

/* Normal */
@font-face {
  font-family: 'Brooklyn';
  src: url('/fonts/Brooklyn/Brooklyn Normal 1.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* 
/* Italic */
@font-face {
  font-family: 'Brooklyn';
  src: url('/fonts/Brooklyn/Brooklyn Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: 'Brooklyn';
  src: url('/fonts/Brooklyn/Brooklyn SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* SemiBold Italic */
@font-face {
  font-family: 'Brooklyn';
  src: url('/fonts/Brooklyn/Brooklyn SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Brooklyn';
  src: url('/fonts/Brooklyn/Brooklyn Bold 1.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: 'Brooklyn';
  src: url('/fonts/Brooklyn/Brooklyn BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Heavy */
@font-face {
  font-family: 'Brooklyn';
  src: url('/fonts/Brooklyn/Brooklyn Heavy 1.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Heavy Italic */
@font-face {
  font-family: 'Brooklyn';
  src: url('/fonts/Brooklyn/Brooklyn HeavyItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
} 
/* Apply globally to all text */
html, body, h1, h2, h3, h4, h5, h6, p, span, a, li, button {
  font-family: 'Brooklyn', sans-serif;
}


body {
  background-color: #000000; /* brand-beige */
  color: #2F2F2F; /* brand-dark */
  /* cursor: none; */
}




body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
   display: none;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555555;
}




/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}